html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul, li {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.wrapper {
  margin: 0 auto;
  padding: 0 auto;
  width: 1200px; }

h1, h2, h3, h4, span, a, button, p {
  font-family: 'Raleway', sans-serif;
  color: #fff; }

a {
  color: #FFF;
  font-size: 20px; }

h4 {
  color: #fff;
  font-size: 18px; }

@media only screen and (max-width: 1160px) {
  html, body {
    padding: 0;
    margin: 0; }
  .wrapper {
    width: 1000px;
    margin: 0 auto;
    padding: 0 auto; }
  .feature_section .feature_block {
    flex-wrap: wrap; }
  .clean_desing_section .Lets_blog .clean_desing {
    flex-wrap: wrap; }
    .clean_desing_section .Lets_blog .clean_desing .clean_desing1 {
      width: 350px;
      margin: 10px; }
    .clean_desing_section .Lets_blog .clean_desing .clean_desing2 {
      width: 350px;
      margin: 10px; }
    .clean_desing_section .Lets_blog .clean_desing .clean_desing3 {
      width: 350px;
      margin: 10px; }
    .clean_desing_section .Lets_blog .clean_desing .clean_desing4 {
      width: 350px;
      margin: 10px; }
  .our_team_section .our_team_wr .our_team {
    flex-wrap: wrap;
    -ms-align-items: center;
    align-items: center; }
    .our_team_section .our_team_wr .our_team .our_team1 {
      width: 270px;
      margin-bottom: 30px; }
    .our_team_section .our_team_wr .our_team .our_team2 {
      width: 270px;
      margin-bottom: 30px; }
    .our_team_section .our_team_wr .our_team .our_team3 {
      width: 270px;
      margin-bottom: 30px; }
    .our_team_section .our_team_wr .our_team .our_team4 {
      width: 270px;
      margin-bottom: 30px; }
  .hear_about form input:nth-child(1) {
    width: 300px; }
  .hear_about form input:nth-child(2) {
    width: 300px; }
  .hear_about form input:nth-child(3) {
    width: 300px; }
  .hear_about form input:nth-child(4) {
    width: 80%;
    margin: 0 auto;
    padding: 0 auto; }
  .map_section .centroo script {
    width: 1000px; } }

header {
  width: 100%;
  background: url(../img/header_bg.png) no-repeat center top/cover;
  /*	######## header_info_block ##############*/ }
  header .header_linear {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
    text-align: center;
    -ms-align-items: center;
    align-items: center;
    height: 122px; }
    header .header_linear .img_logo img {
      width: 60px;
      height: 60px;
      margin: 0 auto;
      padding: 0 auto; }
    header .header_linear .menu ul {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      justify-content: space-around; }
      header .header_linear .menu ul li {
        padding: 0 20px; }
        header .header_linear .menu ul li a {
          transition: .6s;
          text-decoration: none;
          color: #fff; }
          header .header_linear .menu ul li a:hover {
            padding-bottom: 36px;
            border-bottom: 5px solid #11749e; }
    header .header_linear .social a {
      margin-left: 15px;
      transition: .6s; }
      header .header_linear .social a:hover {
        padding-bottom: 23px;
        border-bottom: 5px solid #11749e; }
    header .header_linear hr {
      color: #333; }
  header .wrapper .header_info_block {
    margin-top: 258px;
    text-align: center; }
    header .wrapper .header_info_block h1 {
      font-size: 152px;
      text-transform: uppercase;
      font-weight: bold;
      color: #fff;
      text-shadow: -2px -1px 15px #969696; }
    header .wrapper .header_info_block span {
      padding-top: 20px;
      color: #11749e;
      font-size: 28px;
      letter-spacing: 26px;
      font-weight: bold; }
    header .wrapper .header_info_block .btn {
      padding-top: 100px; }
      header .wrapper .header_info_block .btn p {
        color: #fff;
        padding-bottom: 20px; }
      header .wrapper .header_info_block .btn button {
        height: 65px;
        width: 65px;
        border-radius: 50%;
        color: #fff;
        font-size: 30px;
        background: rgba(255, 255, 255, 0.2);
        border: 1px solid #f5f5f5;
        transition: .4s;
        margin-bottom: 100px; }
        header .wrapper .header_info_block .btn button:hover {
          border: 1px solid #fff;
          background: rgba(255, 255, 255, 0.4);
          color: #000; }

.feature_section {
  background: #11749e;
  width: 100%;
  padding-top: 172px;
  text-align: center; }
  .feature_section .feature {
    position: relative; }
    .feature_section .feature #feature_section {
      position: absolute;
      top: 5%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .feature_section .feature h2 {
      text-transform: uppercase;
      font-size: 37px;
      padding-bottom: 140px; }
    .feature_section .feature .feature_block {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      justify-content: space-around;
      padding-bottom: 100px; }
      .feature_section .feature .feature_block .block1 {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: column;
        justify-content: center;
        -ms-align-items: center;
        align-items: center;
        padding: 50px 20px 50px 20px;
        border-radius: 25px;
        transition: .6s; }
        .feature_section .feature .feature_block .block1:hover {
          -webkit-box-shadow: inset 0px 0px 58px -21px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: inset 0px 0px 58px -21px rgba(0, 0, 0, 0.75);
          box-shadow: inset 0px 0px 58px -21px rgba(0, 0, 0, 0.75); }
        .feature_section .feature .feature_block .block1 .img_cirkl1 {
          height: 134px;
          width: 134px;
          background: #2e85aa;
          border-radius: 50%;
          position: relative; }
          .feature_section .feature .feature_block .block1 .img_cirkl1 img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%); }
        .feature_section .feature .feature_block .block1 h4 {
          padding: 20px;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 18px; }
        .feature_section .feature .feature_block .block1 p {
          font-size: 15px;
          font-weight: 100;
          line-height: 25px;
          color: #eff6f9; }
      .feature_section .feature .feature_block .block2 {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: column;
        justify-content: center;
        -ms-align-items: center;
        align-items: center;
        padding: 50px 20px 50px 20px;
        border-radius: 25px;
        transition: .6s; }
        .feature_section .feature .feature_block .block2:hover {
          -webkit-box-shadow: inset 0px 0px 58px -21px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: inset 0px 0px 58px -21px rgba(0, 0, 0, 0.75);
          box-shadow: inset 0px 0px 58px -21px rgba(0, 0, 0, 0.75); }
        .feature_section .feature .feature_block .block2 .img_cirkl2 {
          height: 134px;
          width: 134px;
          border-radius: 50%;
          background: #2e85aa;
          position: relative; }
          .feature_section .feature .feature_block .block2 .img_cirkl2 img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%); }
        .feature_section .feature .feature_block .block2 h4 {
          padding: 20px;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 18px; }
        .feature_section .feature .feature_block .block2 p {
          font-size: 15px;
          font-weight: 100;
          line-height: 25px;
          color: #eff6f9; }
      .feature_section .feature .feature_block .block3 {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: column;
        justify-content: center;
        -ms-align-items: center;
        align-items: center;
        padding: 50px 20px 50px 20px;
        border-radius: 25px;
        transition: .6s; }
        .feature_section .feature .feature_block .block3:hover {
          -webkit-box-shadow: inset 0px 0px 58px -21px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: inset 0px 0px 58px -21px rgba(0, 0, 0, 0.75);
          box-shadow: inset 0px 0px 58px -21px rgba(0, 0, 0, 0.75); }
        .feature_section .feature .feature_block .block3 .img_cirkl3 {
          height: 134px;
          width: 134px;
          border-radius: 50%;
          background: #2e85aa;
          position: relative; }
          .feature_section .feature .feature_block .block3 .img_cirkl3 img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%); }
        .feature_section .feature .feature_block .block3 h4 {
          padding: 20px;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 18px; }
        .feature_section .feature .feature_block .block3 p {
          font-size: 15px;
          font-weight: 100;
          line-height: 25px;
          color: #eff6f9; }
      .feature_section .feature .feature_block .block4 {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: column;
        justify-content: center;
        -ms-align-items: center;
        align-items: center;
        padding: 50px 20px 50px 20px;
        border-radius: 25px;
        transition: .6s; }
        .feature_section .feature .feature_block .block4:hover {
          -webkit-box-shadow: inset 0px 0px 58px -21px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: inset 0px 0px 58px -21px rgba(0, 0, 0, 0.75);
          box-shadow: inset 0px 0px 58px -21px rgba(0, 0, 0, 0.75); }
        .feature_section .feature .feature_block .block4 .img_cirkl4 {
          height: 134px;
          width: 134px;
          border-radius: 50%;
          background: #2e85aa;
          position: relative; }
          .feature_section .feature .feature_block .block4 .img_cirkl4 img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%); }
        .feature_section .feature .feature_block .block4 h4 {
          padding: 20px;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 18px; }
        .feature_section .feature .feature_block .block4 p {
          font-size: 15px;
          font-weight: 100;
          line-height: 25px;
          color: #eff6f9; }

.portfolio .portfolio_block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 440px 440px; }
  .portfolio .portfolio_block .portfolio1 {
    grid-column: 2;
    grid-row: 1;
    background: url(../img/portfolio/portfolio1.png) no-repeat center top/cover; }
  .portfolio .portfolio_block .portfolio2 {
    grid-column: 1;
    grid-row: 2;
    background: url(../img/portfolio/portfolio3.png) no-repeat center top/cover; }
  .portfolio .portfolio_block .portfolio3 {
    padding-top: 66px;
    background: #222222;
    padding-left: 15%;
    padding-right: 116px; }
    .portfolio .portfolio_block .portfolio3 #date_p {
      font-size: 13px;
      color: #f3f3f3; }
    .portfolio .portfolio_block .portfolio3 h2 {
      font-size: 25px;
      font-weight: bold;
      color: #f3f3f3;
      padding-top: 10px;
      padding-bottom: 30px; }
    .portfolio .portfolio_block .portfolio3 p {
      font-size: 15px;
      color: #f3f3f3; }
  .portfolio .portfolio_block .portfolio4 {
    padding-right: 15%;
    padding-top: 96px;
    background: #f3f3f3;
    padding-left: 70px; }
    .portfolio .portfolio_block .portfolio4 #date_p {
      font-size: 13px;
      color: #222222; }
    .portfolio .portfolio_block .portfolio4 h2 {
      font-size: 25px;
      font-weight: bold;
      color: #222222;
      padding-top: 10px;
      padding-bottom: 30px; }
    .portfolio .portfolio_block .portfolio4 p {
      font-size: 15px;
      color: #222222; }

.clean_desing_section .Lets_blog {
  position: relative;
  text-align: center;
  padding-bottom: 106px; }
  .clean_desing_section .Lets_blog #img_lets {
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .clean_desing_section .Lets_blog h2 {
    padding-top: 161px;
    margin-bottom: 116px;
    font-size: 38px;
    color: #000;
    text-transform: uppercase;
    font-weight: bold; }
  .clean_desing_section .Lets_blog h3 {
    font-size: 30px;
    color: #000; }
  .clean_desing_section .Lets_blog .clean_desing {
    padding-top: 76px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around; }
    .clean_desing_section .Lets_blog .clean_desing .clean_desing1 h4 {
      color: #11749e;
      padding: 22px 0;
      font-weight: bold;
      font-size: 18px;
      letter-spacing: 2.8px; }
    .clean_desing_section .Lets_blog .clean_desing .clean_desing1 p {
      padding: 0 20px;
      color: #000;
      line-height: 20px; }
    .clean_desing_section .Lets_blog .clean_desing .clean_desing2 h4 {
      color: #11749e;
      padding: 22px 0;
      font-weight: bold;
      font-size: 18px;
      letter-spacing: 2.8px; }
    .clean_desing_section .Lets_blog .clean_desing .clean_desing2 p {
      padding: 0 20px;
      color: #000;
      line-height: 20px; }
    .clean_desing_section .Lets_blog .clean_desing .clean_desing3 h4 {
      color: #11749e;
      padding: 22px 0;
      font-weight: bold;
      font-size: 18px;
      letter-spacing: 2.8px; }
    .clean_desing_section .Lets_blog .clean_desing .clean_desing3 p {
      padding: 0 20px;
      color: #000;
      line-height: 20px; }
    .clean_desing_section .Lets_blog .clean_desing .clean_desing4 h4 {
      color: #11749e;
      padding: 22px 0;
      font-weight: bold;
      font-size: 18px;
      letter-spacing: 2.8px; }
    .clean_desing_section .Lets_blog .clean_desing .clean_desing4 p {
      padding: 0 20px;
      color: #000;
      line-height: 20px; }

.clean_desing_section .super_bowl {
  background: #11749e;
  padding-top: 106px;
  padding-bottom: 160px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around; }
  .clean_desing_section .super_bowl .bowl1 {
    padding-left: 13%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between; }
    .clean_desing_section .super_bowl .bowl1 img {
      float: left;
      padding-top: 30px;
      padding-right: 20px;
      width: 69px;
      height: 69px; }
    .clean_desing_section .super_bowl .bowl1 p {
      font-size: 12px;
      font-weight: 100;
      line-height: 29px; }
  .clean_desing_section .super_bowl .bowl2 {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    padding-right: 11%;
    padding-left: 30px; }
    .clean_desing_section .super_bowl .bowl2 img {
      padding-top: 30px;
      padding-right: 20px;
      width: 69px;
      height: 69px; }
    .clean_desing_section .super_bowl .bowl2 p {
      clear: both;
      font-size: 12px;
      font-weight: 100;
      line-height: 29px; }

.akita_inu_dog {
  background: url(../img/akita_inu_dog/bg.png) no-repeat center top/cover;
  /*height: 842px;*/
  width: 100%; }
  .akita_inu_dog .akita_flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around; }
    .akita_inu_dog .akita_flex .akita1 {
      margin-top: 120px;
      width: 50%;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      -o-flex-direction: column;
      flex-direction: column;
      justify-content: left; }
      .akita_inu_dog .akita_flex .akita1 h2 {
        font-size: 25px;
        margin: 25px 0;
        letter-spacing: 1px; }
      .akita_inu_dog .akita_flex .akita1 p {
        font-size: 15px;
        line-height: 25px;
        letter-spacing: 2px;
        padding-bottom: 45px; }
      .akita_inu_dog .akita_flex .akita1 .button_block {
        margin-bottom: 238px; }
        .akita_inu_dog .akita_flex .akita1 .button_block button {
          width: auto;
          margin: 17px 0px;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flex;
          display: -o-flex;
          display: flex;
          -webkit-flex-direction: column;
          -moz-flex-direction: column;
          -ms-flex-direction: column;
          -o-flex-direction: column;
          flex-direction: column;
          justify-content: left;
          background: #11749e;
          border: none;
          text-transform: uppercase;
          font-weight: 400;
          font-size: 15px; }
          .akita_inu_dog .akita_flex .akita1 .button_block button:nth-child(1) {
            width: 370px;
            padding: 8px 0px 8px 0px;
            padding-left: 15px; }
            .akita_inu_dog .akita_flex .akita1 .button_block button:nth-child(1):hover {
              font-weight: 600; }
          .akita_inu_dog .akita_flex .akita1 .button_block button:nth-child(2) {
            width: 400px;
            padding: 8px 0px 8px 0px;
            padding-left: 15px; }
            .akita_inu_dog .akita_flex .akita1 .button_block button:nth-child(2):hover {
              font-weight: 600; }
          .akita_inu_dog .akita_flex .akita1 .button_block button:nth-child(3) {
            width: 430px;
            padding: 8px 0px 8px 0px;
            padding-left: 15px; }
            .akita_inu_dog .akita_flex .akita1 .button_block button:nth-child(3):hover {
              font-weight: 600; }
    .akita_inu_dog .akita_flex .akita2 {
      height: 646px;
      width: 50%;
      position: relative; }
      .akita_inu_dog .akita_flex .akita2 img {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%); }

.our_team_section .our_team_wr {
  position: relative;
  text-align: center;
  padding-bottom: 80px; }
  .our_team_section .our_team_wr #img_our {
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .our_team_section .our_team_wr h2 {
    padding-top: 161px;
    margin-bottom: 116px;
    font-size: 38px;
    color: #000;
    text-transform: uppercase;
    font-weight: bold; }
  .our_team_section .our_team_wr h3 {
    font-size: 30px;
    color: #000; }
  .our_team_section .our_team_wr .our_team {
    padding-top: 76px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around; }
    .our_team_section .our_team_wr .our_team .our_team1 {
      position: relative;
      transition: .4s; }
      .our_team_section .our_team_wr .our_team .our_team1:hover {
        z-index: 1;
        transform: scale(1.2);
        -webkit-box-shadow: 0px 0px 137px 45px #ebdfeb;
        -moz-box-shadow: 0px 0px 137px 45px #ebdfeb;
        box-shadow: 0px 0px 137px 45px #ebdfeb; }
      .our_team_section .our_team_wr .our_team .our_team1 h4 {
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
        position: absolute;
        width: 218px;
        top: 98%;
        left: 50%;
        color: #11749e;
        transform: translate(-50%, -50%);
        padding: 22px 0;
        font-weight: bold;
        font-size: 18px;
        background: #fff; }
        .our_team_section .our_team_wr .our_team .our_team1 h4 span {
          color: #000;
          font-size: 15px; }
    .our_team_section .our_team_wr .our_team .our_team2 {
      position: relative;
      transition: .4s; }
      .our_team_section .our_team_wr .our_team .our_team2:hover {
        z-index: 1;
        transform: scale(1.2);
        -webkit-box-shadow: 0px 0px 137px 45px #ebdfeb;
        -moz-box-shadow: 0px 0px 137px 45px #ebdfeb;
        box-shadow: 0px 0px 137px 45px #ebdfeb; }
      .our_team_section .our_team_wr .our_team .our_team2 h4 {
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
        position: absolute;
        width: 218px;
        top: 98%;
        left: 50%;
        color: #11749e;
        transform: translate(-50%, -50%);
        padding: 22px 0;
        font-weight: bold;
        font-size: 18px;
        background: #fff; }
        .our_team_section .our_team_wr .our_team .our_team2 h4 span {
          color: #000;
          font-size: 15px; }
    .our_team_section .our_team_wr .our_team .our_team3 {
      position: relative;
      transition: .4s; }
      .our_team_section .our_team_wr .our_team .our_team3:hover {
        z-index: 1;
        transform: scale(1.2);
        -webkit-box-shadow: 0px 0px 137px 45px #ebdfeb;
        -moz-box-shadow: 0px 0px 137px 45px #ebdfeb;
        box-shadow: 0px 0px 137px 45px #ebdfeb; }
      .our_team_section .our_team_wr .our_team .our_team3 h4 {
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
        position: absolute;
        width: 218px;
        top: 98%;
        left: 50%;
        color: #11749e;
        transform: translate(-50%, -50%);
        padding: 22px 0;
        font-weight: bold;
        font-size: 18px;
        background: #fff; }
        .our_team_section .our_team_wr .our_team .our_team3 h4 span {
          color: #000;
          font-size: 15px; }
    .our_team_section .our_team_wr .our_team .our_team4 {
      position: relative;
      transition: 0.4s; }
      .our_team_section .our_team_wr .our_team .our_team4:hover {
        z-index: 1;
        transform: scale(1.2);
        -webkit-box-shadow: 0px 0px 137px 45px #ebdfeb;
        -moz-box-shadow: 0px 0px 137px 45px #ebdfeb;
        box-shadow: 0px 0px 137px 45px #ebdfeb; }
      .our_team_section .our_team_wr .our_team .our_team4 h4 {
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
        position: absolute;
        width: 218px;
        top: 98%;
        left: 50%;
        color: #11749e;
        transform: translate(-50%, -50%);
        padding: 22px 0;
        font-weight: bold;
        font-size: 18px;
        background: #fff; }
        .our_team_section .our_team_wr .our_team .our_team4 h4 span {
          color: #000;
          font-size: 15px; }

.hear_about {
  background: url(../img/hear_about/bg.png) no-repeat center top/cover;
  text-align: center;
  padding-bottom: 80px;
  position: relative; }
  .hear_about #hear_about {
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .hear_about h2 {
    color: #fff;
    padding-top: 161px;
    margin-bottom: 116px;
    font-size: 38px;
    text-transform: uppercase;
    font-weight: bold; }
  .hear_about form {
    -ms-align-items: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 108px; }
    .hear_about form input {
      height: 42px;
      color: #fff;
      border-radius: 4px;
      border: 1px solid #fff;
      transition: 0.5s; }
      .hear_about form input:hover {
        border: 1px solid #11749e; }
      .hear_about form input:focus {
        border: 1px solid #11749e;
        text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #11749e, 0 0 40px #11749e, 0 0 55px #11749e; }
      .hear_about form input::-webkit-input-placeholder {
        color: #fff;
        padding-left: 10px; }
      .hear_about form input::-ms-input-placeholder {
        color: #fff;
        padding-left: 10px; }
      .hear_about form input::input-placeholder {
        color: #fff;
        padding-left: 10px; }
      .hear_about form input:nth-child(1) {
        grid-column: 1;
        grid-row: 1;
        max-width: 370px;
        background-color: rgba(0, 0, 0, 0); }
      .hear_about form input:nth-child(2) {
        grid-column: 2;
        grid-row: 1;
        max-width: 370px;
        background-color: rgba(0, 0, 0, 0); }
      .hear_about form input:nth-child(3) {
        grid-column: 3;
        grid-row: 1;
        max-width: 370px;
        background-color: rgba(0, 0, 0, 0); }
      .hear_about form input:nth-child(4) {
        grid-column: 1/4;
        grid-row: 2;
        max-width: 100%;
        height: 146px;
        background-color: rgba(0, 0, 0, 0); }
      .hear_about form input:nth-child(5) {
        grid-column: 2;
        grid-row: 3;
        width: 274px;
        height: 66px;
        -ms-align-items: bottom;
        align-items: bottom;
        background-color: #11749e;
        border: none;
        margin: 0 auto;
        transition: 0.5s;
        font-size: 15px; }
        .hear_about form input:nth-child(5):hover {
          background: #138cbf;
          color: #FFFFFF;
          text-shadow: #474747 3px 5px 2px; }

.map_section {
  width: 100%;
  margin: 0;
  padding: 0;
  -ms-align-items: center;
  align-items: center; }

footer {
  background: #222222;
  width: 100%;
  height: auto; }
  footer .liner_footer {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-around;
    text-align: center;
    -ms-align-items: center;
    align-items: center; }
    footer .liner_footer p {
      margin: 44px auto; }
